{{>head}}


<div class="orderShow-label">
    <h4>Order 상세보기</h4>
</div>


<div class="orderShow-btns">
    <a href="/order" class="btn btn-list">목록</a>
    <a href="/orderEdit/{{myOrder.orderId}}" class="btn btn-edit">수정</a>
    <button class="btn" id="order-destroy-btn">삭제</button> <!--js-->
</div>

<div class="orderShow-table">
    <table class="table table-hover">
        <tbody>
        {{#myOrder}}
            <tr>
                <th>주문번호</th>
                <td>{{orderId}}</td>
            </tr>

            <tr>
                <th>주문날짜</th>
                <td>{{orderDate}}</td>
            </tr>

            <tr>
                <th>주문상태</th>
                <td>{{orderStatus}}</td>
            </tr>
            <!------------------------------------>
            <tr>
                <th>배송지</th>
                <td>[{{zipcode}}] {{addr1}}, {{addr2}}</td>
            </tr>

            <tr>
                <th>배송상태</th>
                <td>{{deliveryStatus}}</td>
            </tr>
            <!------------------------------------>
            <tr>
                <th>상품명</th>
                <td>{{name}}</td>
            </tr>

            <tr>
                <th>총 가격</th>
                <td>{{totalPrice}}원 ({{orderPrice}}원 x {{count}}개)</td>
            </tr>

            <tr>
                <th>첨부파일</th>
                <td><img src="/uploads2/{{imageName}}" alt=""></td>
            </tr>


        {{/myOrder}}
        </tbody>
    </table>
</div>


<script src = "/js/app/common/order.js"></script>

{{>footer}}