{{>head}}


<div class="account-label">
    <h4>오더 목록</h4>
</div>

<!-- 테이블-->
<div class="account-mid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>주문번호</th>
            <th>주문일</th>
            <th>주문상태</th>

            <th>배송정보</th>
            <th>배송상태</th>

            <th>주문상품명</th>
            <th>총 가격 (주문가격x수량)</th>
        </tr>
        </thead>

        <tbody>
            {{#myOrderDetail}}
            <tr>
                <td><a href="/orderShow/{{orderId}}">{{orderId}}</a></td>
                <td>{{orderDate}}</td>
                <td>{{orderStatus}}</td>

                <td>[{{zipcode}}] {{addr1}}, {{addr2}}</td>
                <td>{{deliveryStatus}}</td>

                <td>{{name}}</td>
                <td>{{totalPrice}}원 ({{orderPrice}}원 x {{count}}개)</td>
            </tr>
            {{/myOrderDetail}}
        </tbody>
    </table>
</div>


{{>footer}}