{{>head}}


<div class="account-label">
    <h4>오더 목록</h4>
</div>

<!--검색-->
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="검색하시오" aria-label="Search" id="input_search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="button_search">검색</button>
</form>

<!-- 테이블-->
<div class="account-mid">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>주문번호</th>
            <th>주문일</th>
            <th>주문상태</th>

            <th>배송정보</th>
            <th>배송상태</th>

            <th>주문상품명</th>
            <th>총 가격 (주문가격x수량)</th>
        </tr>
        </thead>

        <tbody>
            {{#myOrderDetail}}
            <tr>
                <td><a href="/member/orderShow/{{orderId}}">{{orderId}}</a></td>
                <td>{{orderDate}}</td>
                <td>{{orderStatus}}</td>

                <td>[{{zipcode}}] {{addr1}}, {{addr2}}</td>
                <td>{{deliveryStatus}}</td>

                <td>{{nameArr}}</td>
                <td>
                    {{totalPrice}}원
                    {{math}}
                </td>
            </tr>
            {{/myOrderDetail}}
        </tbody>
    </table>
</div>

<script src = "/js/app/common/order.js"></script>

{{>footer}}