/*전체 container*/
.store-con{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 110px;
}

/*왼쪽 : navbar 메뉴*/
#navbarNav a{
    font-size: 20px;
    font-weight: bold;
    color: #2d2f45;
}

.nav-top-label{
    border-bottom: 2px solid #2d2f45;
}


/*오른쪽 : 상품 진열*/
.store-items a{
    font-size: 16px;
    color: #2d2f45;
}

.store-items .store-thumbnail img{
    width: 254px;
    height: 354px;
}

.store-items .store-price span{
    font-size: 16px;
    color: #2d2f45;
}


.store-items .store-price{
    margin-bottom: 100px;
}


.store-line1{
    margin-bottom: 100px;
}

.store-line2{
    margin-bottom: 100px;
}

.store-items span{
    font-family: Noto Sans KR; /*글씨체 왜 안먹지*/
}

