<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS (JS는 footer에)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    <!--jQuery 불러오기 / footer도 확인-->
    <script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>

    <!-- Css 연결 -->
    <link rel="stylesheet" href="/css/common/test.css" type="text/css">
    <link rel="stylesheet" href="/css/common/sone.css" type="text/css">
    <link rel="stylesheet" href="/css/common/header.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/show.css" type="text/css">
    <link rel="stylesheet" href="/css/common/profile.css" type="text/css">
    <link rel="stylesheet" href="/css/common/talkList.css" type="text/css">
    <link rel="stylesheet" href="/css/common/store.css" type="text/css">
    <link rel="stylesheet" href="/css/common/storeShow.css" type="text/css">
    <link rel="stylesheet" href="/css/common/noticeList.css" type="text/css">
    <link rel="stylesheet" href="/css/common/noticeShow.css" type="text/css">
    <link rel="stylesheet" href="/css/common/signup.css" type="text/css">
    <link rel="stylesheet" href="/css/common/login.css" type="text/css">

    <!-- Icon 연결, 이 링크로 인해 아이콘 사용하면 자동적으로 css 설정됨 (보이지 않게) -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Random Avatar 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.0.1" async></script>
    <title>Hello, world!</title>
</head>
<body>