{{>head}}

<div>
    <table>
        <thead>
        <tr>
            <th>주문번호</th>
            <th>주문날짜</th>
            <th>주문자</th>
            <th>주문가격</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>


<script>

IMP.init('imp06376564');//나의 가맹점 식별코드

var Iamport = require('iamport');

var iamport = new Iamport({
  impKey: '3187329072162776', //나의 REST API 키
  impSecret: 'g3IgrpXKzNwY5u2OHapUT9zTMVFsrmXIqFZS4XCEL9CQDEElP4fIdPB0KhscEpU45TX9RANCJqsn57IU' //REST API secret
});

app.get('/payments/status/all',(req,res)=>{
        iamport.payment.getByStatus({
          payment_status: 'paid'

        }).then(function(result){
            res.render('payments_list',{list:result.list});

        }).catch(function(error){
            console.log(error);
            red.send(error);
        })
});

</script>

{{>footer}}