
<script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>


<button id="test_btn">클릭</button>

<script>
var test = {
    init: function() {
        var _this = this;
        const testBtn = document.querySelector('#test_btn');
        if (testBtn != null) {
          testBtn.addEventListener('click', _this.create);
        }
    },

    create: function() {
        var msg = '안녕';
        msg += '하세요.';
        msg += '\n반갑습니다';

        alert(msg);
        window.location.href='/login'; //alert창 확인 후 이동할 url 설정
    }

};


// 객체 초기화
//test.init();

</script>

<!--2. jQuery ajax 통신 위해, 새로 추가-->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>