{{>head}}

<form class="container">
    <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" id="talk-title" placeholder="제목을 입력하세요">
    </div>

    <div class="form-group">
        <label>내용</label>
        <textarea class="form-control" id="talk-content" placeholder="내용을 입력하세요" rows="3"></textarea>
    </div>


    <button type="button" class="btn btn-primary" id="talk-create-btn">제출</button>
</form>

<script src = "/js/app/common/talk.js"></script>

{{>footer}}
